<?xml version="1.0" encoding="UTF-8"?>
<recipe>
    <name>Spring Onion Pancakes</name>
    <indexCharacter>S</indexCharacter>
    <notes></notes>
    <servings>0</servings>
    <instructions>PLACE the flour and salt in a mixing bowl and stir to combine. Add the oil and 220 ml (8 fl oz) boiling water and, using a wooden spoon, mix to a rough dough. Turn the dough out onto a lightly

floured surface and knead for 5 minutes, or until smooth and elastic. If the dough is very sticky, knead in a little more flour. Cover the dough with a cloth and let it rest for 20 minutes.

ON a lightly floured surface, use your hands to roll the dough into a long roll. Divide the dough into 24 pieces. Working with one portion of dough at a time, place the dough, cut edge down, on the work surface. Using a small rolling pin, roll it out to a 10 cm (4 inch) circle. Brush the surface generously with the sesame oil and sprinkle with some spring onion. Starting with the edge closest to you, roll up the dough and pinch the ends to seal in the spring onion and sesame oil. Lightly flatten the roll, then roll it up again from one end like a snail, pinching the end to seal it. Repeat with the remaining dough, sesame oil and spring onion. Let the rolls rest for 20 minutes.

PLACE EACH roll flat on the work surface and press down with the palm of your hand. Roll out to a 10 cm (4 inch) circle and place on a lightly floured tray. Stack the pancakes between lightly floured sheets of baking paper and leave to rest for 20 minutes.

HEAT a frying pan over medium heat, brush the surface with oil, and add two or three of the pancakes at a time. Cook for 2-3 minutes on each side, turning once, until the pancakes are light golden brown and crisp. Remove and drain on paper towels. Serve immediately.

YOU CAN reheat the pancakes, wrapped in foil, in a 180°C (350°F/Gas 4) oven for 15 minutes.</instructions>
    <ingredients>
        <ingredient>
            <quantity>2</quantity>
            <unitOfMeasure>c</unitOfMeasure>
            <ingredientName>plain (all-purpose) flour</ingredientName>
            <processingInstructions></processingInstructions>
        </ingredient>
        <ingredient>
            <quantity>1/2</quantity>
            <unitOfMeasure>tsp</unitOfMeasure>
            <ingredientName>salt</ingredientName>
            <processingInstructions></processingInstructions>
        </ingredient>
        <ingredient>
            <quantity>1</quantity>
            <unitOfMeasure>T</unitOfMeasure>
            <ingredientName>oil</ingredientName>
            <processingInstructions></processingInstructions>
        </ingredient>
        <ingredient>
            <quantity>3</quantity>
            <unitOfMeasure>T</unitOfMeasure>
            <ingredientName>roasted sesame seed oil</ingredientName>
            <processingInstructions></processingInstructions>
        </ingredient>
        <ingredient>
            <quantity>2</quantity>
            <unitOfMeasure>ea</unitOfMeasure>
            <ingredientName>spring onions (scallions), green part only, finely chopped</ingredientName>
            <processingInstructions></processingInstructions>
        </ingredient>
        <ingredient>
            <quantity>0</quantity>
            <unitOfMeasure>-</unitOfMeasure>
            <ingredientName>oil for frying</ingredientName>
            <processingInstructions></processingInstructions>
        </ingredient>
    </ingredients>
</recipe>
