
*.xcscheme

SwiftRecipeParser.xcodeproj/xcuserdata/carlsmith.xcuserdatad/xcschemes/xcschememanagement.plist

SwiftRecipeParser.xcodeproj/xcuserdata/carlsmith.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
